{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Statista Spec",
    "description": "First stab at reverse engineering Statista's OpenAPI spec",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.statista.ai/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/statistics": {
      "get": {
        "description": "Returns 10 statistics at a time with some data",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "A simple search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The platform/language the content shall be retrieved from.",
            "schema": {
              "type": "string",
              "enum": ["en", "de", "fr"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return (max 10)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list-statistics response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Statistics"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Statistics": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "identifier": {
            "type": "integer",
            "description": "The unique id"
          },
          "title": {
            "type": "string",
            "description": "The title"
          },
          "link": {
            "type": "string",
            "description": "The URL, with a mandatory parameter `utm_source` at the end. Callers must append `utm_term` as `&utm_term=<keyword>`."
          },
          "subject": {
            "type": "string",
            "description": "The subtitle or secondary title"
          },
          "is_premium": {
            "type": "boolean",
            "description": "Indicates whether this is paid content or not"
          },
          "platform": {
            "type": "string",
            "enum": ["de", "en", "fr", "es"],
            "description": "The language from which the content is retrieved"
          },
          "description": {
            "type": "string",
            "description": "The detailed description"
          },
          "image_url": {
            "type": "string",
            "description": "The URL to download the actual image"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The date associated with the resource"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceObject"
            },
            "description": "Array of sources"
          },
          "industries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndustryObject"
            },
            "description": "Array of industries"
          },
          "geolocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeolocationObject"
            },
            "description": "Array of geolocation IDs"
          },
          "pdf_file": {
            "type": "string",
            "description": "The URL to download the PDF"
          },
          "xls_file": {
            "type": "string",
            "description": "The URL to download the Excel file"
          },
          "teaser_image_urls": {
            "type": "object",
            "$ref": "#/components/schemas/TeaserImage",
            "description": "Teaser image URLs"
          },
          "publishers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceObject"
            },
            "description": "The publishers associated with the statistic"
          },
          "chargers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceObject"
            },
            "description": "Entities responsible for charging fees related to the statistic"
          }
        }
      },
      "SourceObject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the source"
          }
        }
      },
      "IndustryObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique id of the industry"
          },
          "name": {
            "type": "string",
            "description": "The name of the industry"
          }
        }
      },
      "GeolocationObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique id of the geolocation"
          },
          "name": {
            "type": "string",
            "description": "The name of the geolocation"
          }
        }
      },
      "TeaserImage": {
        "type": "object",
        "properties": {
          "small": {
            "type": "string",
            "description": "URL for the small teaser image"
          },
          "medium": {
            "type": "string",
            "description": "URL for the medium teaser image"
          },
          "large": {
            "type": "string",
            "description": "URL for the large teaser image"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x_api_key"
      }
    }
  }
}
